// Place all the styles related to the Series controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* series index */

.ui-autocomplete {
    max-height: 100px;
    overflow-y: auto;
    overflow-x: hidden;
  }
  
  * html .ui-autocomplete {
    height: 100px;
  }


.series {
	text-align: center;
	width: 60%;
	margin: 0 auto;
	display: inline;
}

#seriesIndex {
	margin-left: 10%;
}

.seriesTitle {
	margin: 5px 5px 5px 5px;
	border: 2px solid black;
	height: 130px;
}

/* series show */

.seriesInfo h1 {
	text-align: center;
}

#seriesDescription {
	text-align: center;
	width: 75%;
	margin: auto;
}

#extraInfo {
	width: 40%;
	margin: auto;
}

.seasonList {
	width: 50%;
	margin: auto;
	text-align: center;
}

.addSeries input {
	margin: 0 auto;
	display: block;
}