// Place all the styles related to the Series controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* series index */

.series {
	text-align: center;
	width: 60%;
	margin: 0 auto;
	display: inline;
}

#seriesIndex {
	margin-left: 10%;
}

.seriesGrid {
	margin: 10px 10px 10px 10px;
}

.seriesTitle {
	
	border: 2px solid black;
	height: 354px;
	width: 186px;
	margin: auto;
}

.seriesTitle h3 {
	padding-top: 5px;
	margin-top: 0;
}

.seriesTitle h3 a {
	font-family: 'Bungee Hairline', cursive;
	color: #ffffff;
	font-size: .9em;
}

#series-search-input {
	background-color: #404041;
	border: 2px solid #a7a9ab;
	border-radius: 10px;
	text-align: center;
}

#ui-id-1 li {
	background-color: #404041;
	color: #ffffff;
}

/* series show */

.seriesInfo h1 {
	text-align: center;
	font-family: 'Bungee Hairline', cursive;
	color: #ffffff;
}

#seriesDescription {
	text-align: center;
	width: 75%;
	margin: auto;
}

#seriesDescription p {
	font-family: 'Bungee Hairline', cursive;
	color: #ffffff;
}

#extraInfo {
	width: 40%;
	margin: auto;
}

#extraInfo p {
	font-family: 'Bungee Hairline', cursive;
	color: #ffffff;
}

.seasonList {
	width: 50%;
	margin: auto;
	text-align: center;
}

#addSeries {
	text-align: center;
}

#addSeries a {
	font-family: 'Bungee Hairline', cursive;
	color: #ffffff;
}

/* episodes accordion */ 

#accordion .panel {
	background-color: #404041;
}

#accordion .panel-title {
	font-family: 'Bungee Hairline', cursive;
	color: #ffffff;
}

#accordion .panel-body h4, p {
	font-family: 'Bungee Hairline', cursive;
	color: #ffffff;
}